{% extends 'core/base.html' %}
{% load util_tags i18n %}
{% block content %}
    <section class="py-24 bg-gradient-to-b from-primary-800 to-primary-900 relative ">
        <div class="absolute inset-0 bg-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48cGF0dGVybiBpZD0iZ3JpZCIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjk0MjVBIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=')] opacity-5"></div>
        <div class="absolute top-0 inset-x-0 h-px bg-gradient-to-r from-transparent via-primary-500/50 to-transparent"></div>
        <div class="absolute bottom-0 inset-x-0 h-px bg-gradient-to-r from-transparent via-primary-500/50 to-transparent"></div>
        <div class="container mx-auto px-4">
            <div class="mx-auto flex flex-col md:flex-row items-center justify-center gap-6 max-w-6xl mb-8">
                <div class="flex flex-wrap gap-3 relative">

                    <div class="relative min-w-72 flex justify-between items-center ">
                        <button class="sportDropdownButton w-full flex items-center space-x-2 px-4 py-2.5 rounded-lg font-medium transition-all duration-300 border bg-secondary-500/10 text-secondary-400 border-secondary-500/20 transform hover:scale-105 hover:shadow-lg hover:shadow-secondary-500/20">


                            {% if filter_product %}
                                {% if filter_product.name != "NFL_NHL_NCAA" %}
                                    {% with iconName=filter_product.name|cut:" "|lower|add:"Icon" %}
                                        {% svg_icon icon_name=iconName css_classes="w-4 h-4 text-secondary" %}
                                    {% endwith %}
                                    <span>{% blocktranslate with name=filter_product.get_name_display %}
                                        {{ name }}{% endblocktranslate %}</span>
                                {% else %}
                                    <div class="flex items-center justify-start gap-2">
                                        {% svg_icon icon_name="nflIcon" css_classes="w-4 h-4 text-secondary" %}
                                        <span>NFL,</span>
                                    </div>
                                    <div class="flex items-center justify-start gap-2">
                                        {% svg_icon icon_name="nhlIcon" css_classes="w-4 h-4 text-secondary" %}
                                        <span>NHL, </span>
                                    </div>
                                    <div class="flex items-center justify-start gap-2">
                                        {% svg_icon icon_name="basketballIcon" css_classes="w-4 h-4 text-secondary" %}
                                        <span>NCAA</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="text-secondary-400 w-4 h-4">
                                    <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
                                    <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
                                    <path d="M4 22h16"></path>
                                    <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path>
                                    <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path>
                                    <path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"></path>
                                </svg>
                                <span>{% blocktranslate %}
                                    All sports{% endblocktranslate %}</span>
                            {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="w-5 h-5  transform group-hover:translate-y-0.5 transition-transform duration-300 !ml-auto">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>

                        </button>


                    </div>
                    <div class="hidden absolute top-full left-0 mt-2 w-full bg-primary-800/95 backdrop-blur-sm rounded-lg border border-primary-700/30 shadow-lg py-2 z-40">
                        <div class="relative">
                            <a href="{% url 'core:history' %}"
                               class="w-full flex items-center space-x-3 p-4 text-sm transition-colors {% if not filter_product %}bg-secondary-500/10 text-secondary-400{% else %}text-primary-300 hover:bg-primary-700/50{% endif %} hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="text-secondary-400 w-4 h-4">
                                    <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
                                    <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
                                    <path d="M4 22h16"></path>
                                    <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path>
                                    <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path>
                                    <path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"></path>
                                </svg>
                                <span>{% blocktranslate %}All sports{% endblocktranslate %}</span>
                            </a>
                        </div>
                        {% for product in products %}
                            <div class="relative flex items-center justify-between">
                                <a {% if product.name != 'Tennis' and product.name != 'NFL_NHL_NCAA' %}href="{% url 'core:history' %}?filter={{ product.name }}"{% endif %}
                                   class=" cursor-pointer w-full flex items-center space-x-3 p-4 text-sm transition-colors {% if product == filter_product %}bg-secondary-500/10 text-secondary-400{% else %}text-primary-300 hover:bg-primary-700/50{% endif %} hover:text-white {% if product.name == 'Tennis' or product.name == 'NFL_NHL_NCAA' %}cursor-not-allowed opacity-50 !text-primary-300{% endif %}">

                                    {% if product.name != 'NFL_NHL_NCAA' %}
                                        {% svg_icon icon_name=product.name|cut:" "|lower|add:"Icon" css_classes="w-4 h-4 text-secondary-400" %}
                                        <span>{% blocktrans with name=product.get_name_display %}
                                            {{ name }}{% endblocktrans %}</span>
                                    {% else %}
                                        <div class="flex items-center justify-start gap-2">
                                            {% svg_icon icon_name="nflIcon" css_classes="w-4 h-4 text-secondary-400" %}
                                            <span>NFL,</span>
                                        </div>
                                        <div class="flex items-center justify-start gap-2">
                                            {% svg_icon icon_name="nhlIcon" css_classes="w-4 h-4 text-secondary-400" %}
                                            <span>NHL, </span>
                                        </div>
                                        <div class="flex items-center justify-start gap-2">
                                            {% svg_icon icon_name="basketballIcon" css_classes="w-4 h-4 text-secondary-400" %}
                                            <span>NCAA</span>
                                        </div>
                                    {% endif %}
                                    {% if product.name == 'Tennis' or product.name == 'NFL_NHL_NCAA' %}
                                        <div class="px-2 py-0.5 bg-secondary-500/10 rounded-full border border-secondary-500/20 ">
                                            <span class="text-xs text-secondary-400 nowrap leading-none">Soon</span>
                                        </div>
                                    {% endif %}
                                </a>

                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="grid gap-8 mt-8 max-w-6xl mx-auto" id="predictionsContainer">
                {% for prediction in predictions %}
                    {% include 'core/includes/prediction.html' %}

                {% empty %}
                    <div class="text-center">
                        <p class="text-lg text-primary-300 font-medium">
                            No predictions available at the moment to show.
                        </p>
                    </div>
                {% endfor %}
            </div>
            {% if predictions.count == 20 %}
                <div class="mt-12 text-center">
                    <button id="loadMorePredictionsButton" data-next-page="2"
                            data-active-filter="{{ filter_product.name }}"
                            class="group relative inline-flex items-center justify-center px-8 py-4 font-medium text-white bg-gradient-to-r from-secondary-600 to-secondary-500 rounded-lg overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-xl hover:shadow-secondary-600/30">
                        <div class="absolute inset-0 bg-gradient-to-r from-secondary-400 to-secondary-300 opacity-0 group-hover:opacity-20 transition-opacity duration-300"></div>
                        <div class="relative flex items-center"><span class="text-lg">{% trans "Load More" %}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-chevron-down w-5 h-5 ml-2 transform group-hover:translate-y-0.5 transition-transform duration-300">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}