{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smore - {{ page_title }}</title>
    <link rel="preload" href="{% static 'js/core_v7.bundle.js' %}" as="script">
    <link rel="stylesheet" href="{% static 'css/tailwind_output_v4.css' %}">
    <link rel="stylesheet" href="{% static 'css/notyf.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
    <script src="https://accounts.google.com/gsi/client" async></script>

    {% block extrahead %}{% endblock extrahead %}

</head>
<body class="min-h-screen bg-primary-950">
{% include 'core/includes/header.html' %}
<main class="pt-20">

    {% block content %}{% endblock content %}
</main>
{% include 'core/includes/footer.html' %}

<script src="{% static 'js/core_v7.bundle.js' %}"></script>
</body>
</html>