{% load static i18n %}
<footer class="bg-gradient-to-b from-primary-900 to-primary-950 pt-20 pb-10 relative overflow-hidden">
    <div class="absolute inset-0 bg-squares-pattern opacity-5 pointer-events-none"></div>

    <div class="absolute top-0 inset-x-0 h-px bg-gradient-to-r from-transparent via-secondary-500/50 to-transparent"></div>
    <div class="container mx-auto px-4">
        <div class="grid md:grid-cols-4 gap-12 mb-16">
            <div class="md:col-span-2">
                <img src="{% static 'assets/images/smore-app-icon--no-background.png' %}" alt="smoreltd.com"
                     class="h-12 mb-8">
                <p class="text-primary-300 max-w-md mb-8 text-lg leading-relaxed">{% trans "Expert sports predictions powered  by advanced analytics and professional insights. Join thousands of successful bettors who trust" %}
                    <span class="text-secondary-400">Smore</span>.</p>
                <div class="flex space-x-6"><a href="https://wa.me/+359884108275" target="_blank"
                                               rel="noopener noreferrer"
                                               class="bg-primary-800/50 p-3 rounded-lg hover:bg-secondary-500/10 hover:text-secondary-500 transition-all duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-message-circle w-5 h-5">
                        <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                    </svg>
                </a><a href="https://t.me/smoreltd" target="_blank" rel="noopener noreferrer"
                       class="bg-primary-800/50 p-3 rounded-lg hover:bg-secondary-500/10 hover:text-secondary-500 transition-all duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-send w-5 h-5">
                        <path d="m22 2-7 20-4-9-9-4Z"></path>
                        <path d="M22 2 11 13"></path>
                    </svg>
                </a><a href="https://facebook.com/smoreltd" target="_blank" rel="noopener noreferrer"
                       class="bg-primary-800/50 p-3 rounded-lg hover:bg-secondary-500/10 hover:text-secondary-500 transition-all duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-facebook w-5 h-5">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                    </svg>
                </a><a href="https://instagram.com/smoreltd" target="_blank" rel="noopener noreferrer"
                       class="bg-primary-800/50 p-3 rounded-lg hover:bg-secondary-500/10 hover:text-secondary-500 transition-all duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-instagram w-5 h-5">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                    </svg>
                </a></div>
            </div>
            <div>
                <h3 class="text-white font-semibold text-lg mb-6">{% trans "Quick Links" %}</h3>
                <ul class="space-y-4">
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:about_us' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "About Us" %}
                        </a>
                    </li>
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:plans' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "Plans" %}
                        </a>
                    </li>
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:contact_us' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "Contact" %}</a>
                    </li>
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:how_to_join' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "How to Join" %}</a>
                    </li>
                </ul>
            </div>
            <div><h3 class="text-white font-semibold text-lg mb-6">{% trans "Legal" %}</h3>
                <ul class="space-y-4">
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:terms_of_service' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "Terms of Service" %}</a>
                    </li>
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:privacy_policy' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "Privacy Policy" %}</a>
                    </li>
                    <li>
                        <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 flex items-center group"
                           href="{% url 'core:disclaimer' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chevron-right w-4 h-4 mr-2 text-secondary-500 transform group-hover:translate-x-1 transition-transform duration-300">
                                <path d="m9 18 6-6-6-6"></path>
                            </svg>
                            {% trans "Disclaimer" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-t border-primary-800/50 pt-8">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <p class="text-primary-400 text-sm mb-4 md:mb-0 tracking-wide">© {% now "Y" %}
                    Smore. {% trans "All rights reserved" %}.</p>
                <div class="flex items-center">
                    <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 text-sm px-4"
                       href="{% url 'core:terms_of_service' %}">{% trans "Terms" %}</a>
                    <div class=" w-1 h-1 rounded-full bg-primary-700">
                    </div>
                    <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 text-sm px-4"
                       href="{% url 'core:privacy_policy' %}">{% trans "Privacy" %}</a>
                    <div class=" w-1 h-1 rounded-full bg-primary-700">
                    </div>
                    <a class="text-primary-400 hover:text-secondary-400 transition-all duration-300 text-sm px-4"
                       href="{% url 'core:cookies_policy' %}">{% trans "Cookies" %}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
