{% load util_tags i18n static %}
<div class="${ticket.status == "
     LOST" ? "bg-red-500/10 border-red-500/50 hover:border-red-500" : "bg-[#14212e] border-emerald-500/50 hover:border-emerald-500"} backdrop-blur-sm rounded-lg p-6 border   transition-all duration-300 group transform animate-fadeIn">

<div class="flex items-center justify-between pb-6 border-b border-primary-700/30">
  <div class="flex items-center space-x-4">
    <div class="bg-secondary-500/10 p-3 rounded-lg">
      <svg class="w-5 h-5 text-white">
        <use xlink:href="/static/assets/svg/sprite25.svg#${ticket.product.name.toLowerCase()}Icon"></use>
      </svg>
    </div>
    <div>
      <div class="text-lg font-semibold text-white">
        <span class=" text-primary-100 capitalize">${ticket.product.name.toLowerCase()}</span>
      </div>
    </div>
  </div>
  <div class="text-right">
    <div class="text-sm text-primary-300">Total Odds</div>
    <div class="text-xl font-bold text-secondary-400">${ ticket.total_odds}</div>
  </div>
</div>

<div class="relative mt-6">
  <div class="relative betLines betLines--${ bet_line.status|toLowerCase() }">
    <div class="flex items-start space-x-4 py-3">
      <div class="relative z-10">

        <div class="w-8 h-8 rounded-full flex items-center justify-center ">
          <svg class="w-6 h-6 betStatusIcon ${bet_line.status == 'WON' ? text-green-500 : text-red-500}">
            <use xlink:href="/static/assets/svg/sprite25.svg#${bet_line.status.toLowerCase()}Icon"></use>
          </svg>
        </div>
      </div>
      <div class="flex items-top flex-col w-full">
        <div class="flex items-center justify-between gap-4 pb-4">
          <div>
            <div class="text-primary-100 font-bold break-words text-lg">${ bet_line.bet }</div>
            <div class="text-primary-200 text-sm font-medium break-words">${ bet_line.bet_type }</div>
          </div>
          <div class="flex items-center">
            <div class="px-2 py-1 rounded-lg bg-secondary-500/10 text-secondary-400 text-sm font-medium">${
              bet_line.odds|floatformat:2 }
            </div>
          </div>
        </div>
        <div class="p-4 rounded-lg bg-[#0D151E]/50 flex items-center justify-between gap-2">

          <div class="flex flex-col items-start justify-start gap-2 w-full">
            <div class="flex justify-between items-center w-full">
              <div class="flex items-center justify-start gap-4">
                <img src="${ bet_line.match.home_team.logo }" class="h-4 w-auto">
                <p class="text-primary-300 text-sm break-words text-left">${
                  bet_line.match.home_team.name }</p>
              </div>
              <p class="text-xs text-end p-1 rounded-lg bg-secondary-500/10 text-primary-200">${
                bet_line.match.home_team_score }
            </div>
            {#                            <p class="text-primary-300">vs</p>#}

            <div class="flex justify-between items-center w-full">
              <div class="flex items-center justify-start gap-4">
                <img src="${ bet_line.match.away_team.logo }" class="h-4 w-auto">
                <p class="text-primary-300 text-sm break-words  text-left">${
                  bet_line.match.away_team.name }</p>
              </div>
              <p class="text-xs text-end p-1 rounded-lg bg-secondary-500/10 text-primary-200">${
                bet_line.match.away_team_score }</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
